* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    counter-reset: score;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.phone {
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    width: 320px;
    height: 600px;
    background-color: #CCEFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
     0 15px 12px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}
.layer {
    position: absolute;
}
.layer-1 {
    z-index: 1;
    height: 450px;
    width: 75px;
    opacity: 1;
    bottom: 0;
    right: 70px;
    border-radius: 10px 10px 0 0;
    animation-name: layer1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer1 {
    0% {
        bottom: 0;
    }
    25% {
        bottom: -80px;
    }
    100% {
        bottom: 0;
    }
}

input[type=checkbox] {
    position: absolute;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    width: 80px;
    z-index: 2;
    top: 0;
    margin: 0;
}
input[type="checkbox"]:checked + layer1 {
    animation-name: die;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
@keyframes die {
    0% {
      transform: translateX(0px) translateY(0px);
    }
    25% {
      transform: translateX(20px) translateY(10px);
    }
    50% {
      transform: translateX(-20px) translateY(20px);
    }
    75% {
      transform: translateX(20px) translateY(40px);
    }
    100% {
      transform: translateX(0px) translateY(80px);
    }
}
input:checked {
    counter-increment: score;
}
.score::after {
    content: counter(score);
}
.score {
    font-size: 15px;
    color: white;
    margin: 30px auto;
    text-align: center;
    -webkit-text-stroke: black 0.8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.nay {
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-left: 30px;
    margin-top: 1px;
    -webkit-text-stroke: rgb(255, 255, 255) 0.1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.title {
    font-size: 25px;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    -webkit-text-stroke: black 0.8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.layer-2 {
    z-index: 2;
    height: 450px;
    width: 75px;
    bottom: 0;
    left: 70px;
    border-radius: 10px 10px 0 0;
    animation-name: layer1;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer2 {
    0% {
        bottom: 0;
    }
    25% {
        bottom: -80px;
    }
    100% {
        bottom: 0;
    }
}
.layer-3 {
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 400px;
    background: rgb(161, 83, 9);
    border-top: 10px solid rgb(8, 131, 8);
    border-radius: 30px 30px 0 0;
    bottom: 0;
}
.capaVerde:after{
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    height: 30px;
    background: linear-gradient(135deg, rgb(8, 131, 8) 25%, transparent 25%) -50px 0,
                linear-gradient(-135deg, rgb(8, 131, 8) 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, rgb(8, 131, 8) 25%, transparent 25%),
                linear-gradient(-45deg, rgb(8, 131, 8) 25%, transparent 25%);
    background-size: 30px 80px;
    border-radius: 20px;
}
.capaVerde::before {
    content: "";
    position: absolute; 
    top: 15px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #8a3a24 25%, transparent 25%) -50px 0,
                linear-gradient(-135deg, #8a3a24 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, #8a3a24 25%, transparent 25%),
                linear-gradient(-45deg, #8a3a24 25%, transparent 25%);
    background-size: 30px 100px;
    background-position: 140px 0 0 30px 0;
}
.layer-4 {
    z-index: 4;
    height: 320px;
    width: 75px;
    bottom: 0;
    left: 30px;
    border-radius: 10px 10px 0 0;
    animation-name: layer4;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer4 {
    0% {
        bottom: -80px;
    }
    40% {
        bottom: -80px;
    }
    50% {
        bottom: 0px;
    }
    60% {
        bottom: -80px;
    }
    100% {
        bottom: -80px;
    }
}
.layer-5 {
    z-index: 5;
    left: 0;
    margin: 0 auto;
    width: 200px;
    height: 270px;
    background: rgb(161, 83, 9);
    border-top: 10px solid rgb(8, 131, 8);
    border-radius: 30px 30px 0 30px;
    bottom: 0;
    box-shadow: 10px 0px 30px rgb(0 0 0 / 30%);
}
.layer-6 {
    z-index: 6;
    height: 230px;
    width: 75px;
    bottom: 0;
    right: 40px;
    border-radius: 10px 10px 0 0;
    animation-name: layer4;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.layer-7 {
    z-index: 7;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 180px;
    background: rgb(161, 83, 9);
    border-top: 10px solid rgb(8, 131, 8);
    border-radius: 30px 30px 30px 0px;
    bottom: 0;
    box-shadow: -10px 0px 30px rgb(0 0 0 / 30%);
}
.layer-8 {
    z-index: 8;
    width: 180px;
    height: 90px;
    background: rgb(8, 131, 8);
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 200px 200px 0 0;
    box-shadow: 0px -10px 30px rgb(0 0 0 / 30%);
}
.layer-9 {
    z-index: 9;
    width: 140px;
    height: 80px;
    background: white;
    bottom: 0;
    right: 0;
    border-radius: 100px 100px 0px 100px;
    box-shadow: -10px 0px 30px rgb(0 0 0 / 30%);
}
.layer-12 {
    z-index: 12;
    width: 90px;
    height: 120px;
    background: white;
    bottom: 0;
    right: 0;
    border-radius: 100px 100px 0px 120px;
    box-shadow: 20px -15px 30px rgb(0 0 0 / 30%);
}
.layer-11 {
    z-index: 10;
    width: 90px;
    height: 120px;
    background: white;
    bottom: 0;
    left: 0;
    border-radius: 100px 100px 100px 0px;
    box-shadow: -20px -10px 20px rgb(0 0 0 / 30%);

}
.layer-10 {
    z-index: 10;
    width: 140px;
    height: 80px;
    background: white;
    bottom: 0;
    left: 0;
    border-radius: 100px 100px 100px 0px;
    box-shadow: 0px -10px 30px rgb(0 0 0 / 30%);
}



/* Bunny Design */

.left-ear--outer {
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    left: 10px;
}
.left-ear--inner {
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 8px;
}
.right-ear--outer {
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    right: 10px;
}
.right-ear--inner {
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 8px;
}
.head {
    background: white;
    border-radius: 50%;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    width: 100%;
}
.head__eye {
    background-color: black;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 15px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        height: 4px;
    }
    5% {
        transform: translate(0px, 2px);
        height: 1px;
    }
    10% {
        transform: translate(0px, 0px);
        height: 4px;
    }
}
.head__eye--right {
    left: 30px;
}
.head__eye--left {
    right: 30px;
}

